<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Write a new blog post!</h1>
	<form action="/posts" method="post">
		<input name="post[title]" placeholder="title">
		<input type="hidden" name="post[AuthorId]" value="<%=id %>">
		<input name="post[body]" placeholder="body">
		<input type="submit" value="Post">
	</form>
</body>
</html>