<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Read one blog post!</h1>
    <br>
    <h2><%= post.title%></h2>
    <br>
    <p><%= post.body%></p>

	<a href="/posts">Go back to all posts</a>
</body>
</html>